@model MVCTodos.Model.Task

<form method="post">
    @Html.AntiForgeryToken()
  <div class="form-group">
    <label for="title">Title</label>
    <input value="@Model.Title" type="text" class="form-control" name="title" id="title" placeholder="Enter a task title">
    <span asp-validation-for="Title" class="text-danger"></span>    
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input value="@Model.Description" type="text" class="form-control" name="description" id="description" placeholder="Enter a description for this task">
    <span asp-validation-for="Description" class="text-danger"></span>    
  </div>

  <div class="form-group">
      <button type="submit">save</button>
  </div>
</form>