﻿@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<MVCTodos.Model.Task>

<h2>Tasks</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Title</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var task in Model) {
            <tr class="@(task.Done ? "text-muted" : "")">
                <td>
                    @if(task.Done) 
                    {
                        <a asp-action="toggledone" asp-route-id="@task.Id" class="glyphicon glyphicon-check"></a>
                    } 
                    else 
                    {
                        <a asp-action="toggledone" asp-route-id="@task.Id" class="glyphicon glyphicon-unchecked"></a>
                    }
                </td>
                <td>@task.Title</td>
                <td>@task.Description</td>
                <td>
                    <a asp-action="edit" asp-route-id="@task.Id" class="glyphicon glyphicon-edit"></a>&nbsp;
                    <a asp-action="delete" asp-route-id="@task.Id" class="glyphicon glyphicon-trash"></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Create new</a>